<h1> Observations of illegally captured lemurs in Madagascar: </h1>

<div id='lemur_list'> 

	<ul>
	<% @lemurs.each do |lemur| %>
	  <li><%= link_to lemur.species, lemur %></li>
	<% end %>
	</ul>

</div>