<h3>Individual observation details:</h3>

<div id='individual'>

<%= @lemur.id %>
<%= @lemur.species %>
<%= @lemur.region %>
<%= @lemur.year %>
</div>
<div id='note'>
Photo will be included here if available.
</div>
