<!DOCTYPE html>
<html>
<head>
  <title>CaptiveLemurs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<link rel="points" type="application/json" href= "/MDG_adm2_3.json" />

	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>


  <%= csrf_meta_tags %>

  <script>
		$(document).ready(function(){
			initializeMap();
		});
	</script>
</head>

<body>

<%= yield %>

</body>
</html>
